
@import "tailwindcss";

@theme inline {
  --color-richBlack: #111111;
  --color-burntOrange: #C95A21;
  --color-warmIvory: #F6F0E8;
  --color-leatherBrown: #5A3827;
  --color-softGray: #8A8A8A;
  
  --font-sans: var(--font-inter);
  --font-display: var(--font-space-grotesk);
}

body {
  background-color: var(--color-warmIvory);
  color: var(--color-richBlack);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

::selection {
  background-color: var(--color-burntOrange);
  color: var(--color-warmIvory);
}
